@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<IDOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<link rel="stylesheet" asp-href-include="~/**/*.min.css"
                       asp-href-exclude="**/*-reboot*,**/*-grid*" />
<title>SportsStore</title>
</head>
<body>
<div class="navbar navbar-inverse bg-inverse" role="navigation">
    <а class="navbar-brand" href="#">SPORTS STORE</a>
</div>
<div class="row m-1 р-1">
<div id="categories" class="col-3">
Put something useful here later
</div>
<div class="col-9">
@RenderBody()
</div>
</div>
</body>
</html>